*{
  animation-name: bounceInDown;
  animation-duration: 4s;
}


body h1 {
  font-size: 100px;
}

body .header {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: Lobster;
  border-style: solid;
  margin-bottom: 100px;

}

body .buttons {
  /*font-size: 20px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Lobster;
  align-items: flex-end;
  margin-right: 10px;
  border-radius: 25px;
}

.buttons #aboutLink{
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 10px;
  font-size: 30px;

}
.buttons #contactLink{
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 10px;
  font-size: 30px;

}
.buttons #homeLink{
  margin: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding: 10px;
  font-size: 30px;
}



.all-content {
  top: 50px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.all-content #about {


}


/*=============
===============
===============
gameSpin=======*/

.game {
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  max-height: 500px;
  top: 50px;
}
.game button{
  max-height: 50px;
  border-style: solid;
}



.game #place1 {
  border-style: solid;
  width: 150px;
  height: 150px;
  font-size: 70px;
  text-align: center;
  border-radius:25px;
}

.game #place2 {
  border-style: solid;
  width: 150px;
  height: 150px;
  font-size: 70px;
  text-align: center;
  border-radius:25px;
}

.game #place3 {
  border-style: solid;
  width: 150px;
  height: 150px;
  font-size: 70px;
  text-align: center;
  border-radius:25px;
}
.game #messege{
  width: 150px;
  height: 100px;
  border-style: solid;
  font-family: Lobster;
  font-size: 20px;
  border-radius:25px;
}

/*=========================
=======Animation CSS=======
========================*/
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}


/*===================
=======About.html=====*/
body #picture{
  background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14485170_10157501353080022_6194834177493393233_n.jpg?oh=3a3c778b77b914f80349bb985119cf2b&oe=59B13283');
  width: 400px;
  height: 400px;
  border-radius: 900px;
  box-shadow: 100px 100px black;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
body #shade{
  border-radius: 900px;
  box-shadow: 100px 100px blue;
  margin: 0 auto;
}
body #moreShade{
  border-radius: 900px;
  box-shadow: 100px 100px blue;
  margin: 0 auto;
}
